doctype 5
html
    head
        title #{title} ForoDesarrollo
        link(rel='stylesheet', href='/stylesheets/normalize.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src='/javascripts/jquery.min.js')
        script(src='/javascripts/jquery.timeago.js')
        script(src='/javascripts/jquery.quick.pagination.min.js')
        script(src='/javascripts/scrollable.js')
        meta( name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no")
    body
        div.container
            div.content.scrollable(style='top:0px')
                header
                    h2
                        a(href='/') ForoDesarrollo
                    if (typeof(iniciado)!='undefined' && iniciado)
                        if (typeof(usuario)!='undefined' && usuario)
                            span
                                a(href='/user/'+usuario)=usuario
                        span
                            a(href='/nuevoPost') Crear post
                        span
                            a(href='/salir') Salir
                    else
                        a(href='/registrar') Registro
                        form(action='/ingresar',method='post')
                            input(name='usuario',placeholder="Usuario",type='text',required)
                            input(name='password',placeholder="password",type="password",required)
                            button(name='entrar',type='submit') Ingresar
                .clear
                if (typeof(mensaje)!='undefined' && mensaje)
                    h2=mensaje
                block content
